@{
    ViewData["Title"] = "Application Submitted";
}
@model Mission6_tcp44.Models.MovieEntry
    <!--lowercase "m" for model-->

<h2>Form successfully submitted</h2>
<!--at if (Model.CreeperStalker == true)
{
    <h2>You selected that you're a creeper. I forgot that I'm already in a relationship</h2>
}
else
{
    <h2>Form successfully submitted. Thank you!   </h2> <!-- atModel.FirstName-->
<!--uppercase "Model" to bring in a variable--> <!--
}
-->