@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>The Joel Hilton Film Collection</h1>

<img src="~/img/JoelHiltonHeadshot.jpg" height="350" />

<div>
    <a asp-controller="Home" asp-action="MovieLibrary">Fill Out Form</a>
</div>